@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');

html {
    --nanum-gothic: "Nanum Gothic", sans-serif;
    --nanum-myeongjo: "Nanum Myeongjo", serif;
}

span {
    transform: rotate(0.04deg);
}